<div class="homepage-hero-image mb-3 position-relative">
  <%= image_tag "bia.jpg", alt: "Summer collection", class: "image-bia w-100 h-100" %>
  <div class="hero-content">
    <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4">
      Summer Collection
    </div>
    <div>
      <%= link_to "SHOP NOW", products_path, class: "btn btn-secondary spree-btn px-5"  %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="homepage-taxon-box mb-3">
        <a href="/t/men">
          <%= image_tag "men.jpg", alt: "Men", class: "image-men" %>
          <div class="homepage-taxon-box-text">
            <h3>MEN</h3>
          </div>
        </a>
      </div>
      <div class="homepage-taxon-box">
        <a href="/t/sportswear">
          <%= image_tag "sport1.jpg", alt: "SPORTSWEAR", class: "image-sport" %>
          <div class="homepage-taxon-box-text" role="img" aria-label="SPORTSWEAR">
            <h3>SPORTSWEAR</h3>
          </div>
        </a>
      </div>
    </div>
    <div class="col-6 d-flex flex-column">
      <div class="homepage-taxon-box flex-grow-1">
        <a href="/t/women">
          <%= image_tag "women2.jpeg", alt: "Women", class: "image-women" %>
          <div class="homepage-taxon-box-text">
            <h3>WOMEN</h3>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="content1 mt-2">
  <p class="font-weight-bold text-center homepage-carousel-text text-uppercase">
    Best Products
  </p>
  <div class="row carousel-items-container">
    <div class="col-3">
      <a class="h-100 d-flex flex-column justify-content-between" href="">
        <%= image_tag "men1.jpg", alt: "Men", class: "image-product" %>
        <div>
          <div class="product-component-name" title="Sports Bra Low Support">
            Sports Bra Low Support
          </div>
          <div class="product-component-price">$59.99</div>
        </div>
      </a>
    </div>

  </div>
</div>
<div class="container mt-2">
  <div class="row">
    <div class="col-12 col-lg-6">
      <a href="/t/streetstyle">
        <div class="homepage-bottom-box text-center mb-3">
          <%= image_tag "sale.jpg", alt: "new collection ", class: "image-new-collection" %>
          <div class="homepage-bottom-box-inner" role="img" aria-label="NEW COLLECTION">
            <div class="homepage-bottom-box-inner-small-text">
              NEW COLLECTION
            </div>
            <div class="homepage-bottom-box-inner-big-text">
              STREETSTYLE
            </div>
          </div>
        </div>
      </a>
    </div>

    <div class="col-12 col-lg-6">
      <a href="/t/summer-sale">
        <div class="homepage-bottom-box text-center mb-3">
          <%= image_tag "sale1.jpg", alt: "summer", class: "image-summer" %>
          <div class="homepage-bottom-box-inner">
            <div class="homepage-bottom-box-inner-small-text">
              SUMMER SALE
            </div>
            <div class="homepage-bottom-box-inner-big-text">
              UP TO 60%
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
