<div class="container mb-3">
  <div class="row new_product">
    <%= link_to new_admin_product_path, class: "btn btn-secondary  btn-edit-product-image",  data: {toggle: "modal", target: "#exampleModal"}, remote: true do %>
      <i class="fa fa-plus" aria-hidden="true"></i> ADD PRODUCT
    <% end %>
  </div>
    <h3 class="text-uppercase spree-mb-large spree-mt-large spree-header" >ALL PRODUCT</h3>
  <div class="row w-100">
    <% @products.each do |product| %>
      <div class="col-sm-3 col-6 mb-3 mb-md-4 pr-sm-0 pr-md-0 pl-md-4 pl-sm-4 pl-0 pr-2">
        <%= link_to edit_image_admin_product_path(product), class: "btn btn-secondary  btn-edit-product-image",  data: {toggle: "modal", target: "#exampleModal"}, remote: true do %>
          <i class="fa fa-edit" aria-hidden="true"></i>
        <% end %>
        <a class="h-100 d-flex flex-column justify-content-between" href="">
          <% if product.image.url %>
            <%= image_tag product.image.url, class: "image-products w-100" %>
          <% else %>
            <%= image_tag "sale1", class: "image-products w-100" %>
          <% end %>
          <div>
            <div class="product-component-name" title="Oversize Sweatshirt">
              <%= product.name %>
            </div>
            <div class="product-component-price"><%= number_to_currency(product.price, :unit => "$") %></div>
          </div>
        </a>
        <div class="mt-1">
          <%= link_to admin_product_path(product), method: :delete,data: {confirm: "Are you sure?"}, class: "btn btn-sm btn-danger" do %>
            <i class="fa fa-trash" aria-hidden="true"></i> Delete
          <% end %>
          <%= link_to edit_admin_product_path(product), class: "btn btn-sm btn-info" do %>
            <i class="fa fa-edit" aria-hidden="true"></i> Edit
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-3 float-right mb-3">
    <%= will_paginate @products %>
  </div>
</div>
<%= render "modal" %>
