<div class="col-lg-6 offset-lg-3">
  <h3 class="spree-header spree-mb-large spree-mt-large">Forgot your password?</h3>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "users/shared/error_messages", object: resource  %>
    <div class="form-group mb-2">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "EMAIL", class: "spree-flat-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block spree-btn mb-5" %>
    </div>
  <% end %>
  <h3 class="spree-header header-sm spree-mt-medium mb-3 mb-sm-4 mb-xl-4">Already have an account?</h3>

  <%= render "users/shared/links" %>
</div>
