<div class="container">
  <nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to "Home", root_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @product.name %></li>
  </ol>
</nav>
</div>
<div class="container pt-4 product-details">
  <div class="row" data-hook="product_show">
    <div class="col-12 col-md-7 col-lg-7" data-hook="product_left_part">
      <div class="w-100 d-flex align-self-start justify-content-between product-details-images" data-hook="product_left_part_wrap" >
        <% if @product.image.url %>
          <%= image_tag @product.image.url, class: "image_products" %>
        <% else %>
          <%= image_tag "sale1", class: "image_products" %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-md-5" data-hook="product_right_part">
      <div id="product-description" data-hook="product_right_part_wrap">
        <h1 class="mt-3 mt-md-0 text-center text-md-left product-details-title">
          <%= @product.name %>
        </h1>
        <div id="inside-product-cart-form" data-hook="inside_product_cart_form">
          <div id="product-price" class="mb-2 text-center text-md-left add-to-cart-form-price" data-hook="product_price">
            <span class="price selling" content="26.99">
              <%= number_to_currency(@product.price, :unit => "$") %>
            </span>
          </div>
          <hr>
          <div>
            <div class="mb-5 mt-4">
              <div class="d-flex quantity-select mx-auto mx-md-0">
                <button name="button" type="button" class="border-right-0 flex-grow-0 flex-shrink-0 py-0 px-3 quantity-select-decrease" id="minus">-</button>
                <input type="number" name="quantity" id="quantity" value="1" min="1" class="p-0 flex-grow-1 flex-shrink-1 text-center border-left-0 border-right-0 quantity-select-value " aria-label="Quantity" max= "<%= @product.quantity %>"/>
                <button name="button" type="button" class="border-left-0  flex-grow-0 flex-shrink-0 py-0 px-3 quantity-select-increase" id="plus">+</button>
              </div>
            </div>
            <button name="button" type="submit" class="btn btn-secondary w-100 text-uppercase font-weight-bold add-to-cart-button" id="add-to-cart-button" disabled="disabled">
              Add To Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pb-4 pt-md-5 row" data-hook="product_description">
    <div class="col-12 col-md-7 col-lg-6">
      <h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">Description</h3>
      <div id="product-description-short" class="m-0 text-break product-description" data-hook="description">
        <%= @product.description %>
      </div>
    </div>
      <div class="d-none d-lg-block col-lg-1"></div>
    <div class="col-12 col-md-5" data-hook="product_properties">
      <h3 class="pt-4 font-weight-bold text-uppercase product-details-subtitle">Details</h3>
      <ul id="product-properties" class="m-0 list-unstyled product-properies" data-hook>
        <li>
          <span class="font-weight-bold text-break">Type:</span>
          <span class="text-break"><%= @product.category&.category_type %></span>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--Carousel Wrapper-->
  <p class="font-weight-bold text-center text-uppercase product-details-carousel-text">You may also like</p>
  <% if @products_active.present? && @products.present? %>
    <div id="multi-item-example" class="carousel slide carousel-multi-item mb-3" data-ride="carousel">
      <!--Indicators-->
      <ol class="carousel-indicators">
        <% @products.each_with_index do |product, i| %>
          <li data-target="#multi-item-example" data-slide-to="<%= i %>" class="<%= "active" if i < 4 %>"></li>
        <% end %>
      </ol>
      <!--/.Indicators-->
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <% @products_active.each do |product| %>
            <div class="col-md-3 float-left">
              <%= link_to product_path(product), class: "h-100 d-flex flex-column justify-content-between" do  %>
                <% if product.image.url %>
                  <%= image_tag product.image.url, alt: "Men", class: "image-product" %>
                <% else %>
                  <%= image_tag "men1.jpg", alt: "Men", class: "image-product" %>
                <% end %>
                <div>
                  <div class="product-component-name" title="Sports Bra Low Support">
                    <%= product.name %>
                  </div>
                  <div class="product-component-price"><%= number_to_currency(product.price, :unit => "$") %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="carousel-item ">
          <% @products.each do |product| %>
            <div class="col-md-3 float-left">
              <%= link_to product_path(product), class: "h-100 d-flex flex-column justify-content-between" do  %>
                <% if product.image.url %>
                  <%= image_tag product.image.url, alt: "Men", class: "image-product" %>
                <% else %>
                  <%= image_tag "men1.jpg", alt: "Men", class: "image-product" %>
                <% end %>
                <div>
                  <div class="product-component-name" title="Sports Bra Low Support">
                    <%= product.name %>
                  </div>
                  <div class="product-component-price"><%= number_to_currency(product.price, :unit => "$") %></div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
      <!--/.Slides-->
      <!--Controls-->
      <div class="controls-top text-center mt-4">
        <a class="btn-floating" href="#multi-item-example" data-slide="prev" id="prev"><i class="fa fa-arrow-left"></i></a>
        <a class="btn-floating" href="#multi-item-example" data-slide="next" id="next"><i class="fa fa-arrow-right"></i></a>
      </div>
      <!--/.Controls-->
    </div>
  <% else %>
    <p class="text-center">Haven't Products For This Product</p>
  <% end %>
<!--/.Carousel Wrapper-->
<%= javascript_include_tag('quantity_product.js') %>
