<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <% if current_user&.admin? %>
      <%= render "layouts/sidebar" %>
      <article class="content dashboard-page">
        <section class="section">
          <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
              <%= value %>
            </div>
          <% end %>
          <%= yield %>
        </section>
      </article>
    <% else %>
      <%= render "layouts/header" %>
        <% flash.each do |key, value| %>
          <div class="<%= flash_class(key) %>">
            <%= value %>
          </div>
        <% end %>
        <%= yield %>
      <%= render "layouts/footer" %>
    <% end %>
  </body>
</html>
