<div class="col-lg-6 offset-lg-3">
  <h3 class="spree-header spree-mb-large spree-mt-large">Edit <%= resource_name.to_s.humanize %></h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "users/shared/error_messages", object: resource  %>

    <div class="form-group mb-5">
      <%= f.text_field :name, autofocus: true, class: "spree-flat-input" %>
    </div>
    <div class="form-group mb-5">
      <%= f.email_field :email, autofocus: true, placeholder: "EMAIL", class: "spree-flat-input" %>
    </div>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group mb-5">
      <%= f.text_field :phone_number, placeholder: "PHONE NUMBER", class: "spree-flat-input" %>
    </div>

    <div class="form-group mb-5">
      <%= f.text_field :address, placeholder: "ADDRESS", class: "spree-flat-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Update", class: "btn btn-primary btn-block spree-btn mb-5" %>
    </div>
  <% end %>
  <h3 class="spree-header header-sm spree-mt-medium mb-3 mb-sm-4 mb-xl-4">Cancel my account</h3>

  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary btn-block spree-btn mb-5" %>

 <%= link_to "Back", :back, class: "btn btn-primary btn-block spree-btn mb-5" %>
</div>
