<div class="col-lg-6 offset-lg-3">
  <h3 class="spree-header spree-mb-large spree-mt-large">Create new account</h3>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", object: resource  %>

    <div class="form-group mb-5">
      <%= f.text_field :name, autofocus: true, placeholder: "FULL NAME", class: "spree-flat-input" %>
    </div>
    <div class="form-group mb-5">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "EMAIL", class: "spree-flat-input" %>
    </div>

    <div class="form-group mb-5">
      <div class="text-sign-up">
        <% if @minimum_password_length %>
          <em>Password (<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
      <br />
      <%= f.password_field :password, autocomplete: "off", placeholder: "PASSWORD", class: "spree-flat-input" %>
    </div>

    <div class="form-group mb-5">
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "CONFIRMATION PASSWORD", class: "spree-flat-input" %>
    </div>

    <div class="form-group mb-5">
      <%= f.text_field :phone_number, placeholder: "PHONE NUMBER", class: "spree-flat-input" %>
    </div>

    <div class="form-group mb-5">
      <%= f.text_field :address, placeholder: "ADDRESS", class: "spree-flat-input" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: "btn btn-primary btn-block spree-btn mb-5" %>
    </div>
  <% end %>
  <h3 class="spree-header header-sm spree-mt-medium mb-3 mb-sm-4 mb-xl-4">Already have an account?</h3>

  <%= render "users/shared/links" %>
</div>
